

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
       <% if logged_in? && booking.user == current_user %>
          <td><%= booking.from %></td>
          <td><%= booking.to %></td>
          <td><%= link_to 'Download',booking_path(booking,format: :pdf),:target => "_blank" %></td>
          <td><%= link_to 'Show', booking %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>