<!DOCTYPE html>
<html>
  <head>
  <center>
    <% if logged_in? %>
      <%= link_to 'log out',logout_path,method: :delete %>
    <% end %>
    </center>
    <title>Redbus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
